boolean_composition/*pyc
boolean_composition/exps_data/
boolean_composition/exps_data_extension/
boolean_composition/*.png

skill_machines/log
skill_machines/*log
skill_machines/log*
skill_machines/data/
skill_machines/#*data/
skill_machines/__pycache__/
skill_machines/*__pycache__/
skill_machines/MUJOCO_LOG.TXT
skill_machines/*MUJOCO_LOG.TXT
skill_machines/extension/exps_data_extension/*

**/wandb/*
*.out
*.log
*.json
*.pdf
*.dqn
*.h5